<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" class="title"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">RECOVERY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="keypad" class="keypad"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="titleText">
    A message will be sent to the specified E-Mail account.
  </p>

  <ion-item>
    <ion-input
      class="text ion-text-center"
      clearInput
      placeholder="Correo electrónico"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-icon name="blank"></ion-icon>

  <ion-button
    expand="block"
    class="titleText capitalize"
    color="primary"
    shape="round"
    (click)="resetPassword()">
    ACCEPT
  </ion-button>

  <br>

  <ion-button
    expand="block"
    class="titleText capitalize"
    color="danger"
    shape="round"
    href="/login">
    CANCEL
  </ion-button>
</ion-content>
