<ion-header>
  <ion-toolbar>
    <ion-title class="title">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="text"> 
    
    With this app made using ionic, you will be able to register the videogames that you are looking
    forward to play or playing at the moment, with a detailed info totally customizable by yourself. Add those
    games that will be released soon, those you plan to play when you have the time or your all-time favourites.
  
  </p>

</ion-content>