<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" class="title"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">ITEM FORM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <ion-icon name="document-text-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Title" [(ngModel)]="itemList.title"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="document-text-outline"></ion-icon>


    <ion-input class="text" clearInput placeholder="Original Title (In case It has one)" [(ngModel)]="itemList.ogTitle">
    </ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="document-text-outline"></ion-icon>


    <ion-input class="text" placeholder="Description" clearInput [(ngModel)]="itemList.description"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="image-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Image URL" [(ngModel)]="itemList.url"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="file-tray-stacked-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Saga" [(ngModel)]="itemList.saga"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="file-tray-stacked-outline"></ion-icon>


    <ion-input class="text" clearInput placeholder="Original Series (If It's derivated from a bigger one)"
      [(ngModel)]="itemList.ogSaga"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="file-tray-full-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Game entry" [(ngModel)]="itemList.sagaEntry"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" placeholder="Genre1" clearInput [(ngModel)]="itemList.genre1"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Genre2" [(ngModel)]="itemList.genre2"></ion-input>
  </ion-item>


  <ion-item>


    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-select class="text" placeholder="Type" interface="popover" [(ngModel)]="itemList.type">

      <ion-select-option value="Game">Game</ion-select-option>

      <ion-select-option value="Anime">Anime</ion-select-option>

      <ion-select-option value="Book">Book</ion-select-option>

    </ion-select>
  </ion-item>



  <!-- Game Options -->

  <!-- <ion-item *ngIf="itemList.type = 'Games' "> -->

  <ion-item>

    <ion-icon name="timer-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Duration" [(ngModel)]="itemList.duration"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="body-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Company" [(ngModel)]="itemList.company"></ion-input>
  </ion-item>



  <ion-item>


    <ion-icon name="game-controller"></ion-icon>

    <ion-select interface="popover" class="text" placeholder="Platform" [(ngModel)]="itemList.platform">
      <ion-select-option value="PS4/5 Ex">
        PS4/5 Exclusive</ion-select-option>
      <ion-select-option value="XBOX ONE/SX">XBOX ONE/ SERIES X Exclusive</ion-select-option>
      <ion-select-option value="Nintendo Switch">Nintendo Switch Exclusive</ion-select-option>
      <ion-select-option value="Nintendo 3DS Release">Nintendo 3DS Exclusive</ion-select-option>
      <ion-select-option value="PC Exclusive">PC Exclusive</ion-select-option>
      <ion-select-option value="Steam Exclusive">Steam Exclusive</ion-select-option>
      <ion-select-option value="Epic Store EX">Epic Store Exclusive</ion-select-option>
      <ion-select-option value="XBOX/PlayStation Release">XBOX/PlayStation Release</ion-select-option>
      <ion-select-option value="Tabletop Consoles Release">Tabletop Consoles Release</ion-select-option>
      <ion-select-option value="All Modern Platforms">All modern platforms release</ion-select-option>
      <ion-select-option value="Old Generation Console">Old Generation Console</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- </ion-item> -->

  <!-- Anime Options -->

  <!--

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Animation Company" [(ngModel)]="itemList.animationCompany">
    </ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Num of Chapters" [(ngModel)]="itemList.chapters"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-select class="text" placeholder="Audio" interface="popover" [(ngModel)]="itemList.audio">

      <ion-select-option value="JpnDub/Sub">JpnDub/Sub</ion-select-option>

      <ion-select-option value="JpnDub/Raw">JpnDub/Raw</ion-select-option>

      <ion-select-option value="EngDub">EngDub</ion-select-option>

      <ion-select-option value="SpnDub">SpnDub</ion-select-option>

    </ion-select>
  </ion-item>

  -->

  <!-- Book Options -->

  <!--

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Author" [(ngModel)]="itemList.author"></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="Num of pages" [(ngModel)]="itemList.numPages"></ion-input>
  </ion-item>

  -->



  <ion-item>

    <ion-icon name="documents-outline"></ion-icon>

    <ion-input class="text" clearInput placeholder="composer" [(ngModel)]="itemList.composer"></ion-input>
  </ion-item>


  <ion-item>


    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-select class="text" placeholder="State" interface="popover" [(ngModel)]="itemList.state">
      <ion-select-option value="Completed">
        Completed</ion-select-option>
      <ion-select-option value="On-Going">On-Going</ion-select-option>
      <ion-select-option value="Stand-By">Stand-By</ion-select-option>
      <ion-select-option value="Plan to">Plan to</ion-select-option>
      <ion-select-option value="RE">RE</ion-select-option>
      <ion-select-option value="Dropped">Dropped</ion-select-option>
      <ion-select-option value="Not Released Yet">Not Released Yet</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rating</ion-label>
    <ion-range pin min="0" max="100" step="10" value="itemList.rating" snaps color="secondary"
      [(ngModel)]="itemList.rating">
      <ion-icon slot="start" size="small" color="warning" name="star-outline"></ion-icon>
    </ion-range>
  </ion-item>
  <br>

  <ion-button class="text" (click)="additem()" color="secondary" expand="full">

    <ion-icon name="save-outline"></ion-icon>
    SAVE
  </ion-button>
</ion-content>