<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" class="title"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">NEW USER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="person-add" class="person">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-input class="text ion-text-center" clearInput placeholder="E-mail" [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" class="text ion-text-center" clearInput placeholder="Password"
        (keyup.enter)="login()" [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" class="text ion-text-center" clearInput placeholder="Confirm password"
        (keyup.enter)="login()" [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <br>

  <ion-button expand="block" class="titleText capitalize" color="primary" shape="round" (click)="createUser()">
    ACCEPT
  </ion-button>

  <br>

  <ion-button expand="block" class="titleText capitalize" color="danger" shape="round" href="/login">
    CANCEL
  </ion-button>
</ion-content>