/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Custom fonts */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Dot font */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.title {
    
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    background-color: #2e7197;
}

.text {
    font-family: 'DotGothic16', sans-serif;
    font-weight: 100;
    font-size: 1em;
}

.titleText {

    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3em;

}

.capitalize {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.icon {
    font-size: 8em;
    color: #2e7197;
}

.loginLink {

    font-family: 'Orbitron', sans-serif;
    font-weight: 80;
    font-size: 0.3em;
    color: #2e7197;
}

.infoLink {

    font-family: 'DotGothic16', sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: white;

}